#Root {
}
#NavBar {
  height: 5vh;
  width: 100vw;
  color: white;
}
#body {
  height: 90vh;
  width: 100vw;
  background-color: black;
  color: white;
}
#footer {
  height: 5vh;
  width: 100vw;
  background-color: black;
}

#editorWindow {
  height: 100%;
  width: 100%;
}

#optionPannel {
  background-color: white;
}

#editorPannel {
  background-color: gray;
}

.custRange {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: black;
  outline: none;
  opacity: 0.5;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  /* cursor: url("dot.png"), progress; */
}
